.intro{
  font-size:2rem;
  font-family: "Open Sans bold", sans-serif;
  font-weight:700;
}
.heading{
  font-size:3rem;
  font-family: "Open Sans bold", sans-serif;
  font-weight:bold;
}
ul{
  list-style-type:none;
}
li{
  padding:1rem;
  font-size:1.25rem;
  color : lightgray!important;
}