*{
  padding:0;margin:0;
  box-sizing:border-box;
  /* overflow-x:hidden; */
}
  
.app{
  background: linear-gradient(
    to bottom right,
    #403F44 , #1E1B32
  );
  color: #f3f3f3;
}
.heading{
  font-size:3rem;
  font-family: "Open Sans bold", sans-serif;
  font-weight:bold;
}
.sub-heading{
  font-size:1.75rem;
  font-family: "Open Sans medieum", sans-serif;
  font-weight:600;
}
ul{
  list-style-type:none;
}
li{
  padding:1rem;
  font-size:1.25rem;
}
.rounded{
  border-radius: 10%!important;
}

.ctmCard{
  border: 2px solid #3F525B!important;
  border-radius: 25px!important;
}
.ctmCard:hover{
  box-shadow:  9px 9px 18px #1a172c,
              -9px -9px 18px #221f39;
}
