@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("./assets/fonts/OpenSans-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans bold"),
    url("./assets/fonts/OpenSans-Bold.ttf") format("woff");
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans italic"),
    url("./assets/fonts/OpenSans-Italic.ttf") format("woff");
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans medieum"),
    url("./assets/fonts/OpenSans-SemiBold.ttf") format("woff");
}


body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
  font-size : 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: darkgrey; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 114, 114); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}